.svg-icons {
    width: 30px;
    height: 30px;
    color: #1c892e;
    display: inline-block;
    position: relative;
}

.small-svg {
    width: 17px;
    height: 17px;
    color: #1c892e;
    display: inline-block;
    position: relative;
}

.bottom {
    display: relative;
    text-align: center;
}

.special-buttons {
    text-align: center;
}

.special-buttons button {
    border: none;
    color: #fff;
    padding: 20px 20px;
    border-radius: 100%;
    background-color: #1c892e;
}

@media (max-width: 992px) {
    .svg-icons {
        width: 18px;
        height: 18px;
        color: #1c892e;
    }
}