.svg-icons {
    width: 30px;
    height: 30px;
    color: #1c892e;
    display: inline-block;
    position: relative;
}

.small-svg {
    width: 17px;
    height: 17px;
    color: #1c892e;
    display: inline-block;
    position: relative;
}

.bottom {
    display: relative;
    text-align: center;
}

.special-buttons {
    text-align: center;
}

.special-buttons button {
    border: none;
    background-color: #fff;
    padding: 0 10px;
}