.svg-icons {
    width: 30px;
    height: 30px;
    color: #1c892e;
    display: inline-block;
    position: relative;
}

.small-svg {
    width: 20px;
    height: 20px;
    color: #1c892e;
    display: inline-block;
    position: relative;
}