@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body {
    margin: 0;
    background: linear-gradient(to right, #141520, #201418);
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.navbar-items {
    margin: 0 6%;
    position: relative;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: #fff;
}

.navbar-bottom {
    display: none;
}

.text-link {
    text-decoration: none;
}

.logo-img {
    position: relative;
    width: 120px;
    height: 120px;
    text-align: center;
}

.navbar-body {
    padding: 70px 10px;
}

.navbar-body ul {
    text-align: center;
    display: inline;
    color: #fff;
}

.navbar-body ul li {
    display: inline;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    margin: 50px 15px;
}

.navbar-body ul li:hover {
    display: inline;
    color: #f9d1d1;
}

.navigator {
    position: relative;
    display: sticky;
    height: 100px;
    background-color: #f9d1d1;
    color: #000;
}

.menu {
    display: none;
}

@media (max-width: 992px) {
    .navbar-body {
        display: none;
    }
    .responsive {
        display: none;
    }
    .logo-img {
        position: relative;
        width: 100px;
        height: 100px;
        text-align: center;
    }
    .menu {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 35px;
        right: 7%;
    }
    .navbar-hidden {
        z-index: 5;
        text-align: center;
        border-radius: 8px;
        background-color: #4454fe11;
        padding: 5%;
    }
    .navbar-hidden ul {
        text-align: center;
        display: block;
        color: #fff;
        margin: 20px 0;
        padding: 0;
    }
    .navbar-hidden ul li {
        display: inline;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        border-radius: 5px;
        padding: 5px 10px;
        margin: 0 5px;
        font-weight: 600;
    }
    .navbar-hidden ul li:hover {
        display: inline;
        color: #f9d1d1;
    }
}