.resume-body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Lato', sans-serif;
}

.resume-1 {
    padding: 2% 2%;
    margin: 0;
    width: 100vw;
    position: fixed;
    background-color: #fff;
    z-index: 1;
}

.resume-2 {
    position: relative;
}

.resume-3 {
    padding: 2% 25%;
    background-color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
}

.start {
    position: relative;
    display: inline-block;
}

.start p {
    display: inline;
    margin: 10px;
    color: #111;
}

.img-small {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 5px;
}

.links {
    position: relative;
    color: #111;
}

.resume-links {
    position: relative;
    list-style: none;
    text-align: right;
    margin: 0px 15px;
}

.r-link li {
    text-decoration: none;
    color: #111;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    margin: 0 8px;
    padding: 2px 4px;
}

.r-link li:hover {
    background-color: #e7f5ed;
    font-weight: 500;
    padding: 2px 4px;
    color: #1c892e;
}

.banner-img {
    width: 100%;
    margin: 5% 0 0;
    height: 250px;
    object-fit: cover;
}

.resume-content {
    background-color: #fff;
}

.main-img {
    width: 220px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
    top: 25%;
    border: 2px solid #f1eeee;
}

.free-space {
    margin: 15px 0;
}

.greeting {
    font-weight: 500;
    color: #141520;
    margin-top: 15%;
    margin-bottom: 70px;
}

.intro-header {
    position: relative;
    display: inline;
    margin: 10px 0 50px;
    background-color: #fff;
}

.intro-header h4 {
    width: 100%;
    display: inline-block;
    color: #1c892e;
    margin-bottom: 30px;
}

.work-text {
    margin-top: 50px;
}

.intro-text h5 {
    font-size: 20px;
    font-weight: 600;
    opacity: 70%;
}

.intro-body {
    margin: 60px 0;
}

.list li {
    opacity: 80%;
    width: 95%;
    margin: 10px 0;
}

.my-list ul li {
    opacity: 80%;
    width: 95%;
    margin: 10px 0;
    font-size: 14px;
}

.text-underline {
    text-decoration: underline;
    font-weight: 500;
    text-underline-offset: 5px;
    text-decoration-color: #1c892e;
}

.my-list ul li a {
    text-decoration: none;
    color: #1c892e;
    margin: 0 7px;
}

.ul-list {
    list-style: none;
    padding: 0;
}

.works-time p {
    display: inline-block;
    margin-left: 8px;
    margin-top: 30px;
    color: #1c892e;
    font-weight: 500;
    font-size: 14px;
}

.works-job p {
    display: inline-block;
    margin-left: 8px;
    color: #1c892e;
    font-weight: 500;
    font-size: 14px;
}

.works-intro p {
    font-size: 14px;
    display: inline-block;
    margin-left: 8px;
    color: #1c892e;
    font-weight: 600;
}